<h1> Battle Simulator </h1>

<div>
  Opponent
  <button (click)="removeOpponent()">x</button>
  <button *ngIf="!isOpponentMax()" (click)="addOpponent()">+</button>

  <table>
    <tr>
      <td *ngFor="let x of opponent; let i = index"> 
        Attack 
        <input [(ngModel)]="x.attack">
        <br> 
        Health
        <input [(ngModel)]="x.health">
        <br>
        <button *ngIf="i > 0" (click)="moveLeftOpponent(i)"><</button>
        <button *ngIf="i < 6 && !isCurrentOpponentMax(i)" (click)="moveRightOpponent(i)">></button>
      </td>
    </tr>
  </table>
</div>

<br>

<div>
  Player
  <button (click)="removePlayer()">x</button>
  <button *ngIf="!isPlayerMax()" (click)="addPlayer()">+</button>

  <table>
    <tr>
      <td *ngFor="let y of player; let i = index"> 
        Attack 
        <input [(ngModel)]="y.attack"> 
        <br> 
        Health 
        <input [(ngModel)]="y.health">
        <br>
        <button *ngIf="i > 0" (click)="moveLeftPlayer(i)"><</button>
        <button *ngIf="i < 6 && !isCurrentPlayerMax(i)" (click)="moveRightPlayer(i)">></button>
      </td>
    </tr>
  </table>
</div>

<br>

<div>
  <button (click)="calculate()">Calculate</button>
</div>

<div>
  <div *ngIf="results.length > 0">
    Win: <span>{{results[1] }} %</span> <br>
    Loss: <span>{{results[2] }} %</span> <br>
    Draw: <span>{{results[3] }} %</span> <br>
  </div>
</div>
